<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="Styles/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Buenas contacto de emergencia de {first_name_user}</h1>
      <p>
        Hola {contact_firstname_user} {contact_lastname_user}, te hablamos de
        PanikaSOS, el usuario {first_name_user} {last_name_user} te ha asignado
        como un contacto de confianza, por lo que has de recibir datos
        importantes sobre este:
      </p>
      <li>Email: {email_user}</li>
      <li>Numero telefonico:{phone_number_user}</li>
      <p>Asi como su ubicacion, reglejada en este boton {ubication_user}</p>
      <p>adios</p>
      <a href="{ubication_user}" class="btn btn-ubication btn-2">Mi ubi</a>
    </div>
  </body>
</html>
